.card{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 50vw;
    aspect-ratio: 1/1;

}
.row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;


}

.tile{
    color: black;
    border: 1px solid black;
    width: 5vh;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;



}

.tile.display1{
    border: none;
    background-color: rgba(0, 0, 0, 0.51);
    border: 1px solid black;

}

.tile.display2{
    border: 1px solid black;
    background-color: #ffffff;

}

.tile.display3{
    background-color: rgba(129, 129, 0, 0.39);

}



