.card{
    display: flex;
    flex-direction: column;
    row-gap: 2vh;

}

.row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1vw;

}


.tile{
    color: black;
    border: 2px solid black;
    width: 10vh;
    aspect-ratio: 1 / 1;


}


.display1{
    background-color: grey;

}
.display2{
    background-color: #b1b105;
}
.display3{
    background-color: green;
}
